%table.table.table-bordered
  %thead
    %tr
    %th Name
    %th Homepage
    %th Survey
  %tbody
    - @repositories.each do |repository|
      %tr
        %td
          %a{href:"/repositories/#{repository.id}"}
            = repository.name
        %td
          %a{href:repository.url}
            = repository.owner
        %td
          -repository.survey_responses.each do |survey_response|
            %a{href:"/survey_responses/#{survey_response.id}"}
              = survey_response.timestamp.strftime("%Y-%m-%d")

