%table.table.table-bordered.sorted-table
  %caption
    ="All consumers (#{@consumers.count} records)"
  %thead
    %tr
      %th Name
      %th Repositories
  %tbody
    - @consumers.each do |consumer|
      %tr
        %td
          %a{href:"/consumers/#{consumer.id}"}
            = consumer.name
        %td.number
          =consumer.survey_responses.count


- chart_data = ['Repositories']
- chart_labels = []
- @consumers.each do |consumer|
  - chart_labels << consumer.name
  - chart_data << [consumer.survey_responses.count]

%div#consumer-chart

:javascript
  var chart = bb.generate({
    bindto: "#consumer-chart",
    data: {
      columns: [
          #{chart_data}
      ]
    },
    axis: {
      x: {
        type: "category",
        categories: #{chart_labels}
      }
    }
  });
