%table.table.table-bordered.sorted-table
  %caption
    ="All depositors (#{@depositors.count} records)"
  %thead
    %tr
      %th Name
      %th Repositories
  %tbody
    - @depositors.each do |depositor|
      %tr
        %td
          %a{href:"/depositors/#{depositor.id}"}
            = depositor.name
        %td.number
          =depositor.survey_responses.count

- chart_data = ['Repositories']
- chart_labels = []
- @depositors.each do |depositor|
  - chart_labels << depositor.name
  - chart_data << [depositor.survey_responses.count]

%div#depositor-chart

:javascript
  var chart = bb.generate({
    bindto: "#depositor-chart",
    data: {
      columns: [
          #{chart_data}
      ]
    },
    axis: {
      x: {
        type: "category",
        categories: #{chart_labels}
      }
    }
  });
