%table.table.table-bordered.sorted-table
  %caption
    ="All Repositories (#{@repositories.count} records)"
  %thead
    %tr
      %th ID
      %th Name
      %th Owner
      %th Platform
      %th Responded
  %tbody
    - @repositories.each do |repository|
      %tr
        %td=repository.id
        %td
          %a{href:"/repositories/#{repository.id}"}
            = repository.name
        %td= repository.owner
        %td= repository.platform.name
        %td
          - sr = SurveyResponse.where(repository_id: repository.id, survey_id: session[:survey_id]).first
          - if sr
            = sr.timestamp.strftime("%Y-%m-%d")
          -# -if SurveyResponse.where(repository_id: repository.id, survey_id: session[:survey_id]).count > 0
          -#   ✅

